<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
		/>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="src/styles.css" />
    <title>Weather App</title>
  </head>
  <style>
  body {
  "Roboto", sans-serif;
}

h1 {
  color: #7c7c7c;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color:  #7c7c7c;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.temperature {
  color: cornflowerblue;
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
}

.units {
  color:  #7c7c7c;
  position: relative;
  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}

.card-plan {
  border: 1px solid #dadde1;
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
  max-width: 150px;
}

.card-body {
  color: #7c7c7c;
  font-size: 10px;
  font-weight: strong;
  padding: 5px;
  margin: 5px auto;
}

.btn-info {
  background-color: cornflowerblue;
  border-color: cornflowerblue;
  font-size: 11px;
  margin: 0px auto;
  border-radius: 10px;
  max-width: 110px;
}

.btn-success {
  background-color:  cornflowerblue;
  border-color: cornflowerblue;
}

.btn-secondary {
  background-color: #7c7c7c;
  border-color: #7c7c7c;
}
  </style>

  <body>
    <div class="container">
      <div class="weather-app">
        <form class="search-form" id="search-form">
          <div class="row">
            <div class="col-9">
              <input
							  type="search"
                placeholder="Enter city"
                autofocus="on"
                autocomplete="off"
                id="city-input"
                class="form-control shadow-sm"/>
            </div>
            <div class="col-3">
              <input
								type="submit"
								value=🔍
                value="Search"
                class="form-control btn btn-primary shadow-sm"/>
            </div>
          </div>
        </form>
        <h1 id="city">
        </h1>
        <ul>
          <li id="date"></li>
          <li id="skies">
          </li>
        </ul>
        <div class="row">
          <div class="col-6">
            <div class="clearfix">
              <img
                src="https://ssl.gstatic.com/onebox/weather/64/partly_cloudy.png"
                alt="Cloudy icon"
                class="weather-icon float-left"
              />
              <div class="float-left">
                <span class="temperature" id="temperature"></span
                ><span class="units">
                  <a href="#" id="celsius-link">°C</a> |
                  <a href="#" id="fahrenheit-link">°F</a>
                </span>
              </div>
            </div>
					</div>
					<div class="col-6" id="week-ahead">
							<ul>
									<div class="card-plan" style="width: 18rem;">
											<img src="https://media1.giphy.com/media/qq5gwamAHVofm/200.gif" 
											class="card-img-top" 
											alt="clouds">
											<div class="card-body">
                        <p class="card-text">Do not be caught off gaurd. Check how the weather in your area will be.</p>
                        <div>
                            <button 
                            "type="button" class="btn btn-link" id="current-location-button">Location 📍</button>
                          </div>
												<button type="button" class="btn btn-info btm-sm">The week ahead</button>
											</div>
										</div>	
							</ul>
						</div>
				</div>	
			</br>
				<footer>
						<button type="button" class="btn btn-success">Join mailing list</button>
						<button type="button" class="btn btn-secondary">Share forecast</button>
				</footer> 
			</div>	
		
    </div>
    <script src="src/index.js">
    function formatDate(date) {
  let hours = date.getHours();
  if (hours < 10) {
    hours = `0${hours}`;
  }
  let minutes = date.getMinutes();
  if (minutes < 10) {
    minutes = `0${minutes}`;
  }

  let dayIndex = date.getDay();
  let days = [
    "Sunday",
    "Monday",
    "Tuesday",
    "Wednesday",
    "Thursday",
    "Friday",
    "Saturday"
  ];
  let day = days[dayIndex];

  return `${day} ${hours}:${minutes}`;
}

function search(event) {
  event.preventDefault();
  let city = document.querySelector("#city-input").value;
  let unit = "metric";
  let apiKey = "0d55405ea37f9b16a55f03b2fb1326a2";
  let apiUrl = `https://api.openweathermap.org/data/2.5/weather?q=${city}&appid=${apiKey}&units=${unit}`;

  axios.get(apiUrl).then(displayWeather);
}

function convertToFahrenheit(event) {
  event.preventDefault();
  let temperatureElement = document.querySelector("#temperature");
  temperatureElement.innerHTML = 57;
}

function convertToCelsius(event) {
  event.preventDefault();
  let temperatureElement = document.querySelector("#temperature");
  temperatureElement.innerHTML = 13;
}

let dateElement = document.querySelector("#date");
let currentTime = new Date();
dateElement.innerHTML = formatDate(currentTime);

let searchForm = document.querySelector("#search-form");
searchForm.addEventListener("submit", search);

let fahrenheitLink = document.querySelector("#fahrenheit-link");
fahrenheitLink.addEventListener("click", convertToFahrenheit);

let celsiusLink = document.querySelector("#celsius-link");
celsiusLink.addEventListener("click", convertToCelsius);
//search and show live data
function displayWeather(response) {
  document.querySelector("#city").innerHTML = response.data.name;
  document.querySelector("#temperature").innerHTML = Math.round(
    response.data.main.temp
  );
  document.querySelector("#skies").innerHTML = response.data.weather[0].main;
}

    </script>
  </body>
</html>

